.idea/
!.idea/vcs.xml
!.idea/misc.xml
!.idea/gradle.xml

.gradle/
build/
dist/
node_modules/
out/

*.log
data/uploaded_images/
!data/uploaded_images/README.txt

#eclipse

.classpath
.project
.settings/
bin/
