.bg-image {
    background-image: url(https://imgur.com/LkSvZHY.jpg);
    height: 100%;
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}